<div id="welcome">
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Tổng số Board hiện tại</th>
        <td id="sumBoard"></td>
      </tr>
      <tr>
        <th scope="row">Active</th>
        <td id="active"></td>
      </tr>
      <tr>
        <th scope="row">Deactive</th>
        <td id="deactive"></td>
      </tr>
    </tbody>
  </table>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>